<div class="row">
    <form class="card wrapper">
        <h5 class="center">Cadastrar Categoria</h5>
        <div class="row">
            <div class="input-field">
                <input id="name" name="name" type="text" pattern="${regex.categoryName}" class="validate">
                <label for="name">Nome</label>
                <span class="helper-text" data-error="Digite um nome válido" data-success=""></span>
            </div>
        </div>
        <div class="row center">
            <button class="btn" type="submit">SALVAR</button>
        </div>
    </form>
    <div id="result-msg" class="row card wrapper hide">
        <h5 id="text" class="center"></h5>
        <div class="row center wrapper">
            <a href="/cadastrar/categoria" class="btn" >OK</a>
        </div>
    </div>
</div>
<script src="/cadastrar/categoria/scripts.js"></script>