body {
    background-color: rgba(255, 255, 255, 0.88);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-y: -16%;
    background-position-x: 70%;
}

header {
    z-index: 9999;
    position: relative;
}

@media (min-width: 993px) {
    main {
        margin: 0 0 0 300px;
    }

    nav .brand-logo.center {
        left: 62%;
    }
}


table {
    padding: 1rem;
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: rgba(242, 242, 242, 0.95);
}

.wrapper {
    padding: 1rem !important;
    margin: 1rem !important;
}

#sidenav-logo {
    display: flex;
    height: 64px !important;

    img {
        width: 2rem;
        margin: 0 .5rem .5rem;
    }
}

.sidenav li.active-opc {
    background-color: rgba(255, 255, 255, 0.5);
}

.drag-target {
    width: 15%;
}

#opc-menu>li {
    position: relative;
}

#subopc-add {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 1rem;
    background-color: rgb(255, 221, 196);

    i {
        margin: 0 1rem;
    }
}

hr {
    border: solid 1px grey;
    border-bottom: transparent;
}

.border-selected {
    border-bottom: 1px solid #4CAF50 !important;
    -webkit-box-shadow: 0 1px 0 0 #4CAF50 !important;
    box-shadow: 0 1px 0 0 #4CAF50 !important;
}

#purchases .collapsible-header,
#purchases .collapsible-body {
    border-bottom: 1px solid #727272;
    padding: 1rem;
}

#purchases {

    >div {
        padding: 1rem 0;
    }
    footer {
        padding: 1rem;
    }
    .collapsible-header {
        h5.wrapper {
            margin: 0;
        }
    }
}

input {
    text-transform: uppercase
}