<div class="navbar-fixed">
    <nav class="navbar blue">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">
                <h5>Home</h5>
            </a>
            <ul id="nav-mobile" class="right">
                <li>
                    <a href="#">Admin</a>
                </li>
            </ul>
            <a href="#!" data-target="sidenav-left" class="sidenav-trigger left">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
</div>
<ul id="sidenav-left" class="sidenav sidenav-fixed orange z-depth-2">
    <li>
        <a id="sidenav-logo" href="#" class="valign-wrapper logo-container">
            <img src="./img/logo.png" alt="gestor de contas">
            <b>Gestor de Contas</b>
        </a>
        <ul class="collapsible">
            <li class="active">
                <a class="collapsible-header" href="/home#">
                    <i class="material-icons grey-text text-darken-4">home</i>
                    Home
                </a>
            </li>
            <li>
                <a class="collapsible-header" href="/usuarios#">
                    <i class="material-icons grey-text text-darken-4">person</i>
                    Usuários
                </a>
            </li>
            <li>
                <a class="collapsible-header" href="/compras#">
                    <i class="material-icons grey-text text-darken-4">shopping_cart</i>
                    Compras
                </a>
            </li>
            <li>
                <a class="collapsible-header" href="/despesas#">
                    <i class="material-icons grey-text text-darken-4">today</i>
                    Despesas
                </a>
            </li>
            <li>
                <a class="collapsible-header" href="/categorias#">
                    <i class="material-icons grey-text text-darken-4">bookmark_border</i>
                    Categorias
                </a>
            </li>
        </ul>
    </li>
</ul>
<script src="./header/scripts.js"></script>